.PostPage-window {
  height: 1080px;
  width: 1920px;
  background: linear-gradient(
      0deg,
      rgba(173, 173, 173, 0.2),
      rgba(173, 173, 173, 0.2)
    ),
    linear-gradient(
      90deg,
      rgba(212, 211, 255, 0.744792) 36.04%,
      rgba(130, 128, 239, 0.371864) 101.35%,
      rgba(255, 255, 255, 0) 101.46%,
      rgba(120, 118, 237, 0.401273) 101.46%
    );
}

.post-forms {
  display: flex;
  margin-top: 100px;
  margin-left: 80px;
  flex-direction: column;
  align-items: center;
  h1 {
    height: 150px;
    width: 700px;
    text-align: left;
  }
  label {
    display: flex;
    flex-direction: start;
    font-family: "Roboto", sans-serif;
    font-weight: 700;
    line-height: 42.19px;
    font-size: 17px;
  }
  input {
    width: 500px;
    height: 50px;
    padding: 5px;
    
  }
  textarea { 
    width: 500px;
    height: 50px;
    padding: 10px;

  }
}


.submit-button { 
  margin-top: 200px;
  margin-left: 200px;
}

// .PostPage-window {
// width: 100vw;
// height: 100vh;
//   background: linear-gradient(
//       0deg,
//       rgba(173, 173, 173, 0.2),
//       rgba(173, 173, 173, 0.2)
//     ),
//     linear-gradient(
//       90deg,
//       rgba(212, 211, 255, 0.744792) 36.04%,
//       rgba(130, 128, 239, 0.371864) 101.35%,
//       rgba(255, 255, 255, 0) 101.46%,
//       rgba(120, 118, 237, 0.401273) 101.46%
//     );
// }

// .userPost-text {

//   margin-top: 120px;
//   flex-direction: column;
//   width: 500px;
//   height: 160px;

//   h1 {
//     text-align: left;
//     margin-left: 50px;
//     font-family: "Roboto", sans-serif;
//     font-weight: 700;
//     font-size: 35px;
//   }
// }

// .post-forms {
//   display: flex;
//   position: relative;
//   top:300px;
//   right:320px ;
//   width:470px;
//   height:234px;

//   label  {
//     font-family: "Roboto", sans-serif;
//     font-weight: 700;
//     line-height: 42.19px;
//     font-size: 17px;

//   }

// }

// .imageTitle-sec {
//   display:flex;
//   flex-direction: column;

//   label {
//     display: flex;
//     flex-direction: start;
//   }
//   input {
//     width: 500px;
//     height: 50px;
//   }

// }

// .imageDesc-sec {
//   display:flex;
//   flex-direction: column;

//   label {
//     display: flex;
//     flex-direction: start;

//   }
//   input {
//     width: 500px;
//     height: 50px;
//   }

// }

// .photo-insert {
//   width: 500px;
//   height: 465px;
//   margin-top: 150px;
//   background-color: white;
//   margin-right: 100px;
// }

// .uploadImage-sec {
// }
